<div class="service">
  <h2>Prestations</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Ref_Prestation</th>
        <th>Description</th>
        <th>Prix unitaire</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div>
  <%= link_to '< Retour', company_path(@company), class: 'btn btn-primary' %>
</div>