<div class='nested-fields d-flex'>
  <div class='field'><%= link_to_remove_association 'supprimer', f, class: 'btn btn-danger' %></div>  
  <div class='field'><%= f.input :quantity, label: 'Quantité' %></div>
  <div class='field'><%= f.input :total_price_service, label: 'Total Prestation' %></div>
</div>