<div class='nested-fields d-flex'>
  <div class='field'><%= link_to_remove_association 'supprimer', f, class: 'btn btn-danger' %></div>  
  <div class='field'><%= f.input :ref_service, label: 'Réf. Prestation' %></div>
  <div class='field'><%= f.input :description_service, label: 'Prestation' %></div>
  <div class='field'><%= f.input :unit_price, label: 'Prix unitaire' %></div>
</div>
