<div class='nested-fields'>
  <td><%= link_to_remove_association 'supprimer', f, class: 'btn btn-danger' %></td>
  <td><%= f.input :ref_service, label: 'Référence Prestation' %></td>
  <td><%= f.input :description_service, label: 'Prestation' %></td>
  <td><%= f.input :unit_price, label: 'Prix unitaire' %></td>
</div>
