<div>
  <h1>Mes Clients</h1>
  <div><%= link_to 'Créer un client', new_company_customer_path(@company), class: 'btn btn-primary' %></div><br>
  <div class="card-deck">
    <% @customers.each do |customer| %>
      <div class="card">
        <div class="card-body">
            <%= link_to company_customer_path(@company, customer) do %>
              <h5 class="card-title"><%= customer.name %></h5>
            <% end %>
          <p class="card-text"><%= customer.ref_client %></p>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%#= link_to '< Revenir au Tableau de Bord', company_path(@company), class: 'btn btn-primary' %>
  </div>
</div>